<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="se.mah.m11p0121.privateeconomy">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".RegisterIncomeActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".SeeIncomesActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".SeeExpensesActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".RegisterExpenseActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".IncomeListActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ExpenseListActivity"
            android:screenOrientation="portrait"/>
    </application>

</manifest>